@import "tailwindcss";

@theme {
  --color-blue: #2563eb;
  --color-green: #10b981;
  --color-red: #ef4444;
  --color-white: #f9fafb;
  --color-primary: #111827;
  --color-secondary: #6b7280;
}

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f9fafb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
